{
  "extends": ["react-app", "eslint-config-es/2015/client"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": [ 1, { "extensions": [ ".js", ".jsx" ]}],
    "dot-location": ["error", "property"]
  }
}
